.homePage {
    background-color: black;
    color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}
h1 {
    font-size: 3em;
}
.textfield {
    color: white;
    background-color: yellow;
    width: 80%;
}
.inputBox {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-check {
    font-family: monospace;
    height: 100%;
    width: 20%;
    border-color: transparent;
    font-weight: bold;
    letter-spacing: 0.2em;
    border: 3px solid yellow;
    color: yellow;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.2s linear;
}
.btn-check:hover {
    background-color: yellow;
    color: black;
}
.output {
    border: 3px solid yellow;
    margin-top: 1em;
    width: 60%;
    max-height: 50vh;
    overflow: auto1;
}
